# Ignore all NetCDF files (raw and clipped)
*.nc

# Ignore temporary and log files
*.log
*.tmp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python cache and virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore output directories
/D:/Hesham/WhiteNile/CMIP6-BiasCorrection-SWAT/workingfolder/
/D:/Hesham/WhiteNile/CMIP6-BiasCorrection-SWAT/workingfolder/
